trigger: none

pool: Env-agentpool

steps:
- task: TerraformInstaller@1
  inputs:
    terraformVersion: 'latest'

- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(System.DefaultWorkingDirectory)/dev'
    backendServiceArm: 'raviconnection'
    backendAzureRmStorageAccountName: 'stg1311'
    backendAzureRmContainerName: 'cont13'
    backendAzureRmKey: 'dev.terraform.tfstate'

- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'plan'
    workingDirectory: '$(System.DefaultWorkingDirectory)/dev'
    environmentServiceNameAzureRM: 'raviconnection'

- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'apply'
    workingDirectory: '$(System.DefaultWorkingDirectory)/dev'
    environmentServiceNameAzureRM: 'raviconnection'